<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="send" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="message" id="message">
        <input type="submit" value="submit">

    </form>

    <ul>
        <li>{{ message }}</li>
    </ul>

    <form action="sendImage" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" id="image">
        <input type="submit" value="submit">
    </form>

    <ul>
        sss
        <img src="data:image/png;base64,{{ encoded_image }}">

    </ul>

</body>
</html>